* {
    font-family: 'Montserrat', Verdana;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

.main-header{
    display: flex;
    justify-content: center;
    height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.topnav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}
.topnav > a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.topnav > a:hover {
    transition: 0.3s ease;
    color: orange;
}
.topnav > a:active{
    color: orange;
}
.home-page-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0rem;
}
.post {
    display: flex;
    width: 60%;
    height: 50%;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background-color: rgb(225, 225, 225);
    border-radius: 1.2rem;
    margin: auto;
}
.post-head {
    display: flex;
}
.post-head i {
    flex: 1;
}


