* {
    font-family: 'Montserrat', Verdana;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html, body{
    height: 100%;
}
#wrap {
    min-height: 100%;
}

#main {
    overflow: auto;
    padding-bottom: 8rem;
    /* must be same height as the footer */
}

.main-header{
    display: flex;
    justify-content: center;
    height: 4rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.topnav {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
}
.topnav > a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.topnav > a:hover {
    transition: 0.3s ease;
    color: orange;
}
.home-page-blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.post {
    display: flex;
    width: 50rem;
    height: 50%;
    align-content: space-between;
    justify-content: space-between;
    flex-direction: column;
    padding: 2rem 1.5rem;
    background-color: rgb(225, 225, 225);
    border-radius: 1.2rem;
    margin: 2rem auto;
}
.post button {
    all:unset;
    cursor: pointer;
    margin: 1rem 1rem;
}

.post button:active i {
    color: orange;
}
.post button:focus i {
    color: orange;
}
.post>* {
    display: flex;
    margin: 1rem 1rem;
    align-content: center;
}
.post-head .author {
    flex: 1;
}
.main-footer {
    position: relative;
    margin-top: -8rem;
    /* negative value of footer height */
    height: 8rem;
    clear: both;
    display: flex;
    justify-content: center;
    background: linear-gradient(360deg, rgb(157, 65, 0) 0%, rgba(224,224,224,1) 85%, rgba(255,255,255,1) 100%);
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}
.footer-nav > a{
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 600;
    color: black;
}

.footer-nav > a:hover {
    transition: 0.3s ease;
    color: white;
}

.addPost-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3rem auto;
    width: 35rem;
    padding: 2rem 1.5rem;
    background-color: rgb(225, 225, 225);
    border-radius: 1.2rem;
}

.addPost-body {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.addPost-body input{
    flex:1;
}
.addPost-body p{
    padding: 0 2rem 0 0;
    width: 5rem;
}
.select-file{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.select-file button {
    flex: 1;
}
.select-file p{
    width: 5rem;
    padding: 0 2rem 0 0;
}
.addPost-section .post-submit-button {
    display: flex;
    justify-content: center;
}
.addPost-section > div {
    padding: 1rem 0;
}
.addPost-section button {
    border-radius: 1.2rem;
    color: white;
    background-color: orange;
    border-width: 0.1rem;
    padding: .5rem .8rem;
}
.addPost-section button:hover {
    border-radius: 1.2rem;
    color: white;
    background-color: #da8e00;
    border-width: 0.1rem;
    padding: .5rem .8rem;
}
.create-post a{
    all: unset;
}

#main-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: rgb(225, 225, 225);
    padding: 2rem 1rem;
    border-radius: 1.2rem;
}
#main\ holder-div {
    display: flex;
    margin-top: 4rem;
}
#main-holder > * {
    padding: .5rem 1rem;
}
.form-input > form {
    display: flex;
    flex-direction: column;
}
form > input, button {
    margin: .3rem;
    padding: .5rem;
}

form a {
    text-align: center;
}
#login-form-button {
    color: white;
    background: cornflowerblue;
    border: none;
    border-radius: 1.2rem;
}
#login-form-button:hover {
    background: blue;
    transition: 1s ease-out;
}
#username-field:invalid {outline: solid red 1px}
#password-field:invalid {outline: solid red 1px}

@media (max-width: 800px) {
    .addPost-body {
        flex-wrap: wrap;
    }
    .addPost-section  {
        width: 50%;
    }
    .addPost-body {
        width: 100%;
    }
    #addPost-body {
        width: inherit;
    }
    .footer-nav {
        flex-wrap: wrap;
    }
    .select-file {
        flex-wrap: wrap;
    }
    .home-page-blog {
        width: 50%;
        margin: auto;

    }
    .home-page-blog > div, img {
        flex-wrap: wrap;
        width: 100%;
    }

    .post-head {
        flex-wrap: wrap;
    }
}

.dropbtn {
    cursor: pointer;
    border: none;
    padding:0;
    margin:0;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #da8e00;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content p, .dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.show {display:block;}